<div class="row-fluid">
<h2>Nuentras mascotas</h1>

<table class="table table-striped">
  

<% @species.each do |species| %>
  <tr>
    <td><%= species.name %></td>
    <td><%= link_to 'Lista', species %></td>
  </td>
  </tr>
<% end %>
</table>

</div>
