<div class="row-fluid">
<div>
<h2><%= @species.name %></h2>
<% if @pets.empty? %>
<p id="notice">No se encotraron mascotas.</p>
<% end %>
<div>

<%= render "pets/petslist" %>

<br />
<%= link_to 'Subi tu mascota!', new_pet_path, :class =>"btn btn-success", :style => "color: white" %>

</div>
