<div class="row-fluid">

<p>
  <b>Nombre:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<!--
<p>
  <b>Creationdate:</b>
  <%= @user.creationDate.to_s(:rfc822) %>
</p>
-->
</div>
