<div class="row-fluid">

<h3>Adopta mi Mascota</h3>

<p> Adoptamimascota.com.ar es un sitio gratuito para la publicación mascotas.</p><p>La intención de este sitio es ser un simple medio por el cual las personas o refugios que deseen encontrar un dueño para sus mascotas logren hacerlo a través de un medio masivo como lo es internet.</p>
<p> Adoptamimascota.com.ar <b>no es un refugio</b> ni tampoco es responsable por los animales publicados en este sitio o del trato que reciben los mismos.</p>
</div>
